<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>demoauth015.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://apiauthactivedirectory15.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>apiauthactivedirectory15.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiAuthActiveDirectory15</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ApiAuthActiveDirectory15</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://demoauth015.onmicrosoft.com/WebApp-apiauthactivedirectory15.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>7e347ac5-a5c6-4e39-992f-0ebcbbd60b8e</ADClientAPPID>
    <ADClientPassword>K6eRjlR5JGUtE54lMU0LipInsEl0WjnN8cAoATX1AtE=</ADClientPassword>
    <ADReplyUrl>https://apiauthactivedirectory15.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>d6f134fb-a936-4ca4-9a32-7306c5be16f5</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>